<form [formGroup]="form_data">
    <input 
        type="text" 
        placeholder="Nome"
        formControlName='nome'
        name="nome"
        required
        (blur)="is_valid($event)"
    />
    <input 
        type="email" 
        placeholder="email"
        name="email"
        formControlName='email'
        required
        (blur)="is_valid($event)"
    />

    <button (click)="show_data()" type="button"> Print values </button>
    <button (click)="clear_form()" type="button"> Clear </button>
    <button (click)="auto_fill()" type="button"> Fill </button>
</form>