.card {
    background-color: transparent;
    margin: 5px 10px 5px 10px;
    img{
        background-color: transparent;
        height: 20em;
        width: 14.4em;
        border-radius: 12px;
    }
}